# Ejercicio Práctico de Koalas

In [15]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [16]:
import numpy as np
import pandas as pd
import pyspark.pandas as ps
import databricks.koalas as ks

### Funciones básicas

In [17]:
pser = pd.Series([1, 3, 5, np.nan, 6, 8]) 

## Crea una serie de Koalas con [1, 3, 5, np.nan, 6, 8]

kser = ps.Series(pser)

## Pasa la serie de pandas pser a Koalas con el nombre de kser

In [18]:
## Ordena kser por el index
kser.sort_index(ascending=False)

5    8.0
4    6.0
3    NaN
2    5.0
1    3.0
0    1.0
dtype: float64

In [19]:
pdf = pd.DataFrame({'A': np.random.rand(5),
                    'B': np.random.rand(5)})

## Genera un Dataframe de Koalas con el pdf de pandas y llamalo kdf
kdf = ps.from_pandas(pdf)

In [20]:
type(kdf)

pyspark.pandas.frame.DataFrame

### Visualización de datos

In [21]:
## Describe los datos de kdf
kdf.to_spark().show()

c:\Users\heyde\.conda\envs\EYDER\lib\site-packages\pyspark\pandas\utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

+------------------+--------------------+
|                 A|                   B|
+------------------+--------------------+
|0.6293793388971596|0.001420113795509...|
|0.9857830783785043|  0.5520937101443048|
|0.3441709830658246| 0.48469194888761136|
| 0.773996020613122| 0.09460544035799034|
|0.6798090493515548|  0.6902269558431336|
+------------------+--------------------+

In [32]:
## Ordena los datos de kdf por la columna B
kdf.sort_values(by='B')

          A         B
0  0.629379  0.001420
3  0.773996  0.094605
2  0.344171  0.484692
1  0.985783  0.552094
4  0.679809  0.690227

In [33]:
## Transpon los datos de kdf
kdf.T

          0         1         2         3         4
A  0.629379  0.985783  0.344171  0.773996  0.679809
B  0.001420  0.552094  0.484692  0.094605  0.690227

### Selección

In [24]:
## Selecciona las varaibles A y B de Kdf

In [25]:
## Selecciona las filas 1, 2 de kdf

In [26]:
## Selecciona las filas 0, 1 y 2 de la variable B

### Aplicando funciones de Python a Koalas

In [27]:
## Aplica la funcion de Python de np.cumsum a kdf

In [28]:
## Eleva al cuadrado los valores de kdf

### Agrupando datos

In [29]:
## Obten la suma de los valores al agrupar por A y por B

### Generando gráficos

In [30]:
# This is needed for visualizing plot on notebook
%matplotlib inline

In [31]:
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant',
         'rabbit', 'giraffe', 'coyote', 'horse']

kdf = ks.DataFrame({'speed': speed,
                   'lifespan': lifespan}, index=index)

## Genera un grafico de barras con kdf y matplotlib

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [ ]:
kdf = ks.DataFrame({
    'sales': [3, 2, 3, 9, 10, 6, 3],
    'signups': [5, 5, 6, 12, 14, 13, 9],
    'visits': [20, 42, 28, 62, 81, 50, 90],
}, index=pd.date_range(start='2019/08/15', end='2020/03/09',
                       freq='M'))

## Genera un grafico de areas con kdf y matplotlib

### Utilizando SQL en Koalas

In [ ]:
kdf = ks.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'pig': [20, 18, 489, 675, 1776],
                    'horse': [4, 25, 281, 600, 1900]})

In [ ]:
## Con una consulta SQL selecciona los datos donde pig sea mayor que 100

In [ ]:
pdf = pd.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'sheep': [22, 50, 121, 445, 791],
                    'chicken': [250, 326, 589, 1241, 2118]})

In [ ]:
## Haz un inner join entre kdf y pdf en la vriable year, selecciona el pig y el chicken
## ordena los datos por pig y chicken

### Trabajando con PySpark

In [ ]:
kdf = ks.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})

## Convierete el dataframe de Koalas a Dataframe de Spark
type(sdf)

pyspark.sql.dataframe.DataFrame

In [ ]:
## muestra los datos